:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-y: auto;
  overflow-x: hidden;
  margin:0px;
  padding: 0px;
  padding-top: 0px;

  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  display: flex;
  place-items: center;
  justify-content: center; /* Center content both horizontally and vertically */
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100%; /* Ensure body takes up the full width of the viewport */

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 20px; /* Add margin to button */
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0f7ddd66;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5em; /* Adjust heading size for smaller screens */
  }

  button {
    padding: 0.5em 1em; /* Reduce button padding */
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px; /* Add padding for mobile */
    height: auto; /* Allow height to adjust for content */
    overflow-x: hidden; /* Ensure no horizontal scrolling on mobile */
  }

  h1 {
    font-size: 2em; /* Further reduce heading size for smaller screens */
  }

  button {
    padding: 0.4em 0.8em; /* Further reduce button padding */
    font-size: 0.8em;
  }
}
